{% extends '@EasyAdmin/layout.html.twig' %}
{% block page_title %}Admin - Challenge Stack{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock%}

{% block content %}
    <div id="calendar"></div>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            console.log("Le DOM est chargé !");
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'fr',
                initialView: 'dayGridMonth',
                allDaySlot: false,
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,listWeek'
                },
                events: {{data|raw}}
            });

            calendar.on('eventClick', (e) => {
                window.location.href = "/admin?crudAction=edit&crudControllerFqcn=App%5CController%5CAdmin%5CEventCrudController&entityId=" + e.event.id
            });

            calendar.render();
        });
    </script>

{% endblock %}

 {% block javascripts %}
     {{ encore_entry_script_tags('app') }}
 {% endblock %}
