{% extends '@EasyAdmin/layout.html.twig' %}
{% block page_title %}Admin - Challenge Stack{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock%}

{% block content %}
    <div id="calendar"></div>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var centerToolbar = 'title'
            {% if is_granted('ROLE_TEACHER') %}
                centerToolbar = 'title addButton'
            {% endif %}
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'fr',
                initialView: 'dayGridMonth',
                allDaySlot: false,
                timeZone: 'Europe/Paris',
                customButtons: {
                    addButton: {
                        color: "#00A759",
                        text: 'Evenement +',
                        click: function() {
                            window.location.href = '/admin?crudAction=new&crudControllerFqcn=App%5CController%5CAdmin%5CEventCrudController';
                        }
                    }
                },
                headerToolbar: {
                    left: 'prev,next today',
                    center: centerToolbar,
                    right: 'dayGridMonth,timeGridWeek'
                },
                buttonText: {
                    today: 'Aujourd\'hui',
                    month: 'Mois',
                    week: 'Semaine',
                    day: 'Jour'
                },
                events: {{data|raw}}
            });

            calendar.on('eventClick', (e) => {
                {% if is_granted('ROLE_TEACHER') %}
                    window.location.href = "/admin?crudAction=edit&crudControllerFqcn=App%5CController%5CAdmin%5CEventCrudController&entityId=" + e.event.id
                {% endif %}
            });

            calendar.render();
        });
    </script>

{% endblock %}

 {% block javascripts %}
     {{ encore_entry_script_tags('app') }}
 {% endblock %}
